{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn" style="color: white; background-color: #EA5C0A; border-color: white;">{{ button_label|default('Se connecter') }}</button>
{{ form_end(form) }}
