<form method="post" action="{{ path('app_gender_delete', {'id': gender.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce genre ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gender.id) }}">
    <button class="btn btn-danger m-3">Supprimer</button>
</form>
