<form method="post" action="{{ path('app_club_delete', {'id': club.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce club ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ club.id) }}">
    <button class="btn btn-warning m-3">Supprimer</button>
</form>
