<form method="post" action="{{ path('app_court_delete', {'id': surface.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce terrain ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ surface.id) }}">
    <button class="btn btn-warning m-3">Supprimer</button>
</form>
