{% extends 'base.html.twig' %}

{% block title %}Ajout d'une surface{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class=" d-flex justify-content-center">
        <a href="{{ path('app_surface') }}" class="btn btn-warning m-3">Retour</a>
    </div>
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-danger m-0 fw-bold text-center">Ajouter une surface</p>
        </div>
        <div class="card-body">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table table-striped table-hover my-0" id="dataTable ">
                    <tbody>
                        <div class="m-3 p-5">{{ include('surface/_form.html.twig') }}</div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
