{% extends 'base.html.twig' %}

{% block title %}Page non trouvée !{% endblock %}

{% block body %}

	<div class="container">
		<h2 class="text-center out">Malheureusement : {{ exception.message }}</h2>
		<img class="notFound" src="{{ asset('images/404-BackOffice.png') }}" width="1200" height="700" alt="404 BO">

	</div>
{% endblock %}
