{% extends 'base.html.twig' %}

{% block title %}Page non trouvée!
{% endblock %}

{% block body %}

	<div class="container">
		<img class="notFound" src="{{ asset('images/404-BackOffice.png') }}" width="950" height="800" alt="404 BO">
		<h3>{{ exception.message }}</h3>
	</div>

{% endblock %}
