{% extends 'base.html.twig' %}

{% block title %}Page non trouvée!
{% endblock %}

{% block body %}

<div class="container">

		<img class="notFound" src="{{ asset('images/404-backoffice.png') }}" width="500" height="600" alt="404 BO">

	</div>

{% endblock %}
