{% extends '/email/base_email.html.twig' %}

{% block title %} - Réservation annulée{% endblock %}

{% block body %}
            <h3 style="color: #C23D12;">
                Bonjour {{ reservation.user.firstname }}, </h3>
            <h3>    
               Malheureusement votre réservation du {{ reservation.start_datetime }} au {{ reservation.end_datetime }} a été annulée.
            </h3>

            <h3 style="color: #C23D12;">La raison :</h3>
            <p>{{ blocked_court.reason }}</p>

            <p>
                Nous tenons à nous excuser pour se désagrément.<br>
                Vous pouvez <a href="http://localhost:8080/reserver-un-terrain">réserver un autre terrain</a>.
            </p>

            <br>

            <p>
                Cordialement, <br>
                L’équipe <span style="color: #C23D12;">Passing ShO't</span>
            </p>
{% endblock %}

