{% extends '/email/base_email.html.twig' %}

{% block title %} vous souhaite la bienvenue{% endblock %}

{% block body %}
    <h3 style="color: #C23D12;">
        Bonjour {{ user.firstname }}, </h3>
    <h3>    
        Nous vous remercions d’avoir complété votre inscription auprès de Passing ShO't.
    </h3>

    <p>
        Cet e-mail confirme que votre compte est activé et que vous faites officiellement partie de la famille, vous pouvez dès à présent <a href="http://localhost:8080/reserver-un-terrain">réserver un terrain</a>.
    </p>

    <p>
        Sportivement, <br>
        L’équipe <span style="color: #C23D12;">Passing ShO't</span>
    </p>
{% endblock %}
